/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 24, 2015, 1:38:27 AM
    Author     : amit1
*/
.profile-jumbo{
    margin-top: 50px;
    height: 550px;
}
.info{
    margin-top: 20px;
}