.select_games{
    width: 100%;
}
.input-group{
    margin: 1%;
    width: 100%;
}
.form-group .input-group .search_input{
    width: 100%;
}
.form-group>button{
    width: 100%;
    margin: 1%;
}
.searchbar{
    height: 180px;
}
.sponsored-box{
    width: 108%;
    margin-left: -4%;
}
.sorting>label{
    margin-left: 2%;
}