@import url(http://fonts.googleapis.com/css?family=Ubuntu:200,300,400);
@font-face{
 font-family: "Ubuntu";
}
body{
    font-family: Ubuntu;
    font-weight: 200;
}
.name{
    background-color: #3f99c3;
    margin-top: 27px;
}
.carousel{
    //width: 800px;
    margin-top:10px;
    height: 400px;
}
.carousel-inner{
    height: 100%;
}
.carousel img{
    width: 100%;
}

.carousel-control img{
    width: 100px;
    margin-top: 170%;
}

.circle{
    background-color: #14a43e;
    border-radius: 55px;
    height: 110px;
    width: 110px;
    padding-top: 43px;
    margin-left: 15px;
    color:white;
    background:#14a43e url('../images/pattern.png') top repeat ;
}
.btn{
    height: 70px;
    width: 350px;
    margin-top: 20px;
	box-shadow: 5px 5px 5px #888888;
}
.info{
    margin-top: 15px;
}

.capt {
    background-color: #F4F4F4;
	color:black;
	border:2px solid grey;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 3%;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 300;
}

.box{
border:2px solid grey;
    background-color: #F4F4F4;
    color: black;
}
.jumbotron:hover{
    transition: linear 0.3s;
    transform: scale(1.015);
}
.carousel-control:hover{
    color: yellow;
}

.carousel-indicators li{
    border-radius: 20px;
    border-color: yellow;
    width: 40px;
    height: 40px;
    text-indent: 0;
    background: yellow;
    color: #3f99c3;
    padding-top: 10px;
    margin-left: 20px;
    font-weight: 500;
    
    
}

.carousel-indicators li.active{
    border-radius: 20px;
    border-color: #3f99c3;
    width: 40px;
    height: 40px;
    background: #3f99c3;
    color:yellow;
    padding-top: 10px;
    margin-left: 20px;
}

.rat-star{
    width: 80px;
    background-color: white;
    border-radius: 10px;
	margin-top:7px;
	margin-right:2px;
    
}

.rat-star img{
    width: 50px;
}


.fac{
padding-top:10px;
padding-left:5px;
padding-right:3px;
margin-left:2px;
margin-right:2px;
    width: 70px;
	height:70px;	
    background-color: white;
	border:3px solid green;
    border-radius: 35px;
    
}

.facnot{
padding-top:10px;
padding-left:5px;
padding-right:3px;
margin-left:2px;
margin-right:2px;
    width: 70px;
	height:70px;	
    background-color: white;
	border:3px solid red;
    border-radius: 35px;
    
}

.fac img{
float:center;
height:40px;
width:40px;
}

.facnot  img{
float:center;
height:40px;
width:40px;
}

.name a 
{
color:white;
text-decoration:none;}

.box a{
color:black;
text-decoration:none;}