@font-face{
 font-family: "Ubuntu";
}
body{
    font-family: Ubuntu;
    font-weight: 200;
    background-color: whitesmoke;
}
.start{
    margin-top: 150px;
}

.searchbar{
    background-color: #3f99c3;
    height: 70px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2),  
        inset 0 -12px 30px rgba(0,0,0,0.2);
    margin-top: 10px;
}
.searchbar>form{
    margin-top: 20px;
}
.select_games{
    width: 200px;
}
.form-group .input-group .search_input{
    width: 380px;
}
form button{
    width: 110px;
    background-color: #e27114;
    margin-top: 0px;
    color:white;
}
form button:hover{
    background-color: #e24814;
}

.filtering{
    padding: 7%;
    background-color: transparent;
}
.heading{
    //background-color: #3f99c3;
    width: 100%;
    font-size: large;
    border-bottom: 1px solid #3f99c3;
    padding-bottom: 8px;
    
    //color:white;
}
.filter-box{
    //border: 1px solid white;
    border-radius: 7px;
    padding: 8px;
    background-color: white;
    border-right: 1px solid #3f99c3;
    border-left: 1px solid #3f99c3;
    
}
.sorting{
}
.sorting>label{
    margin: 10px;
    margin-left: 10%;
    cursor: pointer;
}
.resultbox{
    width: 100%;
    background-color: white;
    border-radius: 20px;
    border-right: 2px solid #3f99c3;
    border-left: 2px solid #3f99c3;
}
.resultbox>h3{
    margin-left: 7%;
}
.sponsored-box{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    
}
.right{
    //width:100%;
    border-right: 2px solid #3f99c3;
    border-left: 2px solid #3f99c3;
    border-radius: 20px;
}
.box{
    width: 100%;
    //background-image: url("");
    padding-left: 7%;
    padding-right: 7%;
    //margin:10px;
    font-size: 16px;
}
.hover-box:hover{
    background-color: whitesmoke;
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    border-radius: 20px;
    cursor: pointer;
}
.box strong{
    font-weight: 500;
}
.btn img{
    width: 13px;
}
.box-list li{
    background-color: #009933;
    margin:3px;
    width: 30px;
    height: 30px;
    border-radius: 10px;
}
.box-list img{
    width: 100%;
}
.name{
    font-size: large;
}
.name a{
    color: #FF0000;
    font-weight: bold;
    font-weight: 500;
    font-size: 18px;
}
.name a:hover{
    transition:linear 0.2s;
    text-decoration: none;
    color: black;
    text-shadow: 2px 2px 2px 2px;
    //font-size: 18.4px;
}

.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    color: #a7fb9d;
    //margin-top: 32%;
    background:rgba(167, 251, 151, 0.19);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align: left;
    color:#fff !important;
    z-index:2;
}
.caption h3{
    margin-top: 25%;
}
.breadcrumb li a:hover{
    transition: linear 0.3s;
    text-decoration: none;
    color:black;
}
.breadcrumb .glyphicon-chevron-right{
    color: #009933;
}
.breadcrumb{
    height: 5%;
}
.breadcrumb>li>a{
    margin-top: -10px;
}
.breadcrumb>li>a:hover{
    color: black;
}
.breadcrumb .current{
    color:black;
}


