//@import url(http://fonts.googleapis.com/css?family=Ubuntu:200,300,400);
@font-face{
 font-family: "Ubuntu";
}
body{
    font-family: Ubuntu;
    font-weight: 200;
}
form button{
    width: 110px;
    background-color: #e27114;
    margin-top: 0px;
}
form button:hover{
    background-color: #e24814;
}
.jumbotron {
   
    font-weight: 300;
    margin-top: 140px;
    height: 50%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2),  
        inset 0 -12px 30px rgba(0,0,0,0.2);
    //box-shadow: 2px 2px 2px 2px #ffcc66;
    
    //border-color:;
    //border: 2px solid #e7e7e7;
    //border-radius: 10px;
    //background-color:#f8f8f8;
        
    
    
}

.jumbotron h2{
    font-weight: 300;
	color:white;
	text-decoration:none;
    font-stretch:  extra-expanded;
}
.select_games{
    width: 200px;
}
.form-group .input-group .search_input{
    width: 380px;
}

form button{
    width: 110px;
    background-color: #e27114;
    margin-top: 0px;
    color:white;
}
form button:hover{
    background-color: #e24814;
}
.form-control{
    opacity: 1;
}

.ui-autocomplete {
            max-height: 200px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
            /* add padding to account for vertical scrollbar */
            padding-right: 20px;
    }
#search li{
    height: 200px;
  max-height: 200px;
  overflow-y: scroll;
}
.capt {
    background-color: #3f99c3;
    width: 20%;
    margin-left: 40%;
    margin-bottom: 3%;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    font-weight: 300;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2),  
        inset 0 -12px 30px rgba(0,0,0,0.2);
}

.jumbotron1 .table-responsive table tr:hover,
.jumbotron1 .table-responsive table tr a:hover{
    background-color: #1e6dce;
    color: white;
    transition: linear 0.15s;
    -webkit-transition:0.15s linear;
    -moz-transition:0.15s linear;  
    -o-transition:0.15s linear;
}
.jumbotron1 .table-responsive{
    width:100%;
}
.table-responsive table th{
    background-color: #1e6dce;
    font-weight: 300;
    border-radius: 3px;
    color: white;
}

.table-responsive table a{
    color: black;
    font-weight: 200;
}
.table-responsive table tr:hover{
    transition: linear 0.15s;
}
.table-responsive table a:hover{
    text-decoration: none;
    color: #1e6dce;
    transition: linear 0.15s;
}

.form-group select,button{
   
    margin-top: 15px;
    font-weight: 300;
    
}
.form-group .form-control{
    //border-radius: 10px;
    //background-color: rgba(255,255,255,0.8);
    
}

.carousel{
    width:100%;
    margin-top: 450px;
    height: 70%;
    
}

.carousel-inner{
    height: 100%;
}

.carousel img{
    width: 100%;
}

.carousel-indicators li{
    border-radius: 20px;
    border-color: yellow;
    width: 40px;
    height: 40px;
    text-indent: 0;
    background: yellow;
    color: #3f99c3;
    padding-top: 10px;
    margin-left: 20px;
    font-weight: 500;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2),  
        inset 0 -12px 30px rgba(0,0,0,0.2);
    
}


.carousel-indicators li.active{
    border-radius: 20px;
    border-color: #3f99c3;
    width: 40px;
    height: 40px;
    background: #3f99c3;
    color:yellow;
    padding-top: 10px;
    margin-left: 20px;
}


.box{
    background-color: #ffcc66;
    height: 30%;
    padding: 10px;
    border-radius: 10px;
    opacity: 0.9;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2),  
        inset 0 -12px 30px rgba(0,0,0,0.2);
   
}
.box:hover{
    transform: scale(1.030);
    transition: linear 0.2s;
}

.box h5 a{
    color: black;
}

.links>li{
    float:left;
    margin-bottom:-8%;
    margin-top: -7%;
    width: 28%;
    height: 28%;
    margin-right: 3%;
}
.first-link{
    margin-left: 15%;
}
.links>li>a,
.links>li>a:link{
    width:100%;
    height: 100%;
    //padding: 20px;
    padding-left: 25%;
    padding-top: 35%;
    font-size: 110%;
    //right: -10px;
    border-radius: 60%;
    margin-right:27%;
    //line-height:1.42857143;
    border:2px solid transparent;
    color: #ffe53c;
    /*border-radius:4px 4px 0 0;*/
    background:white url('../images/pattern.png') top repeat ;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2),  
    inset 0 -12px 30px rgba(0,0,0,0.2);//background-color:#3f99c3;
}
.links>li>a:hover{
    background-color: #ffe53c;
    border:1px solid #1e6dce;
    color:#1e6dce;
    -webkit-transition:0.3s linear;
    -moz-transition:0.3s linear;  
    -o-transition:0.3s linear;         
    transition:0.3s linear;
}
.links>li.active>a,
.links>li.active>a:focus,
.links>li.active>a:hover{
    color:white;cursor:default;
    background-color: #ffe53c;
    border:1px solid transparent;
    color:#1e6dce;
}
.jumbotron1{
    background-color: transparent;
}
h3{
    border-bottom: 1px solid #1e6dce;
    padding-bottom: 2%;
}
.content-box{
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    margin-left: 5%;
    background-color: #3f99c3;
    color: #1e6dce;
    //padding: 0.5%;
    height: 55%;
	border:3px solid grey;
    border-radius: 7px;
    background-color:#F5F5F5;
    overflow-y: scroll;
}
.star-box{
    //border-top: 1px solid #3f99c3;
    border-bottom: 1px solid #3f99c3;
    padding-bottom: 40px;
    padding-top: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2),  
    inset 0 -12px 30px rgba(0,0,0,0.2);
}
.find_out{
    text-align: center;
    font-family: times, serif; 
    font-size:40pt;
     font-style:bold;
    } 
.hr{
width:600px;
    height: 5px;
background: #1e6dce url("img/pattern.png");
border: none;

}

.hr0{
width:200px;
    height: 5px;
background: #1e6dce url("img/pattern.png");
border: none;

}

.hr1{
width:400px;
    height: 5px;
background: #1e6dce url("img/pattern.png");
border: none;

}

.coach{
    text-align: center;
}
