@import url(http://fonts.googleapis.com/css?family=Ubuntu:200,300,400);
@font-face{
 font-family: "Ubuntu";
}
body{
    font-family: Ubuntu;
    font-weight: 200;
}


.details{
    background-color: #F4F4F4;
	border:3px solid grey;
}
.jumbotron{
    background-color: #F4F4F4;
	border:2px solid grey;
    color: black;
}

.profile-jumbo{
    background-image: url('../images/img1.jpg');
    background-size: 100%;
    margin-top: 20px;
}


.img-rounded{
    box-shadow: 4px 4px 4px 4px rgba(20,20,20,0.35);
    
}
.rat-star{
    width: 80px;
    background-color: #1E90FF;
    border-radius: 10px;
    margin: 3px;
    //margin-top: 180px;
    height: 60px;
    
}
.rating{
    margin-top: 180px;
}

.rat-star img{
    width: 50px;
    //margin-left: 30px;
    //margin: 30px;
    //background-color: green;
    //border-radius: 15px;
}

.fac{
padding-top:10px;
padding-left:5px;
padding-right:3px;
margin-left:2px;
margin-right:2px;
    width: 70px;
	height:70px;	
    background-color: white;
	border:3px solid green;
    border-radius: 35px;
    
}

.facnot{
padding-top:10px;
padding-left:5px;
padding-right:3px;
margin-left:2px;
margin-right:2px;
    width: 70px;
	height:70px;	
    background-color: white;
	border:3px solid red;
    border-radius: 35px;
    
}

.fac img{
float:center;
height:40px;
width:40px;
}

.facnot  img{
float:center;
height:40px;
width:40px;
}

.carousel-indicators li{
    border-radius: 20px;
    border-color: yellow;
    width: 40px;
    height: 40px;
    text-indent: 0;
    background: yellow;
    color: #3f99c3;
    padding-top: 10px;
    margin-left: 20px;
    font-weight: 500;
    
    
}

.carousel-indicators li.active{
    border-radius: 20px;
    border-color: #3f99c3;
    width: 40px;
    height: 40px;
    background: #3f99c3;
    color:yellow;
    padding-top: 10px;
    margin-left: 20px;
}
.carousel-control:hover{
    color: yellow;
}


.item img{
    width: 100%;
    //height: 170px;
    //max-height: 170px;
}

.box{
    margin-top: 15px;
}

.capt {
    background-color: #3f99c3;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 3%;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    font-weight: 300;
}
.jumbotron.details a{
color:black;
text-decoration:none;
}
