@import url(http://fonts.googleapis.com/css?family=Ubuntu:200,300,400);
@font-face{
 font-family: "Ubuntu";
}
body{
    font-family: Ubuntu;
    font-weight: 200;
}

.start{
    margin-top: 140px;
}

.name{
    background-color: #3f99c3;
    margin-top: 0px;
}
.prize{
    position: absolute;
    margin-top: 25%;
    margin-left: 85%;
    background-color:  #3f99c3;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    padding: 2.3%;
    text-align: center;
    font-size: x-large;
    color:white;
    font-weight: bold;

}
.prize:hover{
    position: absolute;
    background-color: #3f99c3;
    color: #ffe53c;
    cursor: pointer;
    transition:0.2s linear;
    transform: scale(1.035);
    background:#3f99c3 url('../images/pattern.png') top repeat ;
}
.banner{
    margin-top: 0.6%;
    width: 100%;
    height: 70%;
}

.banner img{
    width: 100%;
    height: 100%;
}


.circle{
    background-color: #ffe53c;
    border-radius: 55px;
    height: 80px;
    width: 80px;
    padding-top: 29px;
    margin-left: 30px;
    color:#1e6dce;
    font-weight: bold;
    
    background:#ffe53c url('../images/pattern.png') top repeat ;
}
.btn{
    margin-top: 15px;
    height: 50px;
    width: 130px;
}
.info{
    margin-top: 15px;
}

.capt {
    border:2px solid grey;
    background-color: #F4F4F4;
    width: 100%;
    color: black;
    padding: 1%;
    border-radius: 15px 15px 2px 2px; 
    font-size: 20px;
    font-weight: 300;
}

.news{
    height: 85%;
    width: 120%;
}

.box{
border:2px solid grey;
    background-color: #F4F4F4;
   border-radius:5px;
    color: black;

}
.jumbotron:hover{
    transition: linear 0.3s;
    transform: scale(1.015);
}



.fac{
padding-top:10px;
padding-left:5px;
padding-right:3px;
margin-left:2px;
margin-right:2px;
    width: 70px;
	height:70px;	
    background-color: white;
	border:3px solid green;
    border-radius: 35px;
    
}

.facnot{
padding-top:10px;
padding-left:5px;
padding-right:3px;
margin-left:2px;
margin-right:2px;
    width: 70px;
	height:70px;	
    background-color: white;
	border:3px solid red;
    border-radius: 35px;
    
}

.fac img{
float:center;
height:40px;
width:40px;
}

.facnot  img{
float:center;
height:40px;
width:40px;
}


.box a{
color:black;
text-decoration:none;}

.box0{
border:2px solid grey;
    background-color: #F4F4F4;
    color: black;
}
